<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tshirt</a>
            <a class="dropdown-item" href="#">Phones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link btn btn-outline-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Admin
          </a>
          <div class="dropdown-menu text-white text-center" aria-labelledby="navbarDropdown">
            <a (click)="adminlogin()" class="btn btn-info mb-1 d-block mx-auto">SignIn</a>
            <a class="btn btn-warning text-dark d-block mb-1 mx-auto">Dashboard</a>
            <a  (click)="adminLogout()" class="btn btn-danger d-block mx-auto">Logout</a>
          </div>
        </li>
      </ul>
        <!-- <button (click)="adminlogin()" class="btn btn-outline-warning my-2 my-sm-0" type="button">Admin</button> -->
      </form>
    </div>
  </nav>