<div class="container-fluid">

    <div id="side-filter" class="filter">

    </div>
    <div id="product-list-page" class="main">
     
        <ul class="product-list">
          <li  *ngFor="let a of arr">
              <div  class="card" style="width: 18rem;">
                  <div class="img-holder">
                    <img src="https://ctl.s6img.com/society6/img/RYdAmEkq-Mxu9oWk9zSBju0CWYQ/h_264,w_264/tshirts/men/greybg/black/~artwork,bg_FFFFFFFF,fw_3300,fh_5100,iw_3300,ih_5100/s6-0058/a/24580786_4617365/~~/bear-in-whimsical-wild-tshirts.jpg" class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
          </li>
        </ul>
           
      

      

        

    </div>
 
  
</div>