<div class="container-fluid">

    <div id="side-filter" class="filter">
       
    </div>

    <div id="product-list-page" class="main">
        <ul class="product-list">
          <li  *ngFor="let shirt of shirts">
              <div  class="card" style="width: 18rem;">
                  <div class="img-holder">
                    <img src={{shirt.purl}} class="card-img-top" alt="...">
                  </div>
                    <div class="card-body">
                      <h5 class="card-title">{{shirt.pname}}</h5>
                      <p class="text-dark"> Price: <del class="small text-danger">1499</del> <span class="text-success"> {{shirt.pcost}} </span> </p> 
                      <a href="#" class="btn btn-primary">Add Cart</a>
                    </div>
                  </div>
          </li>
        </ul>
           
      

      

        

    </div>
 
  
</div>