<div class="admin-panel">
<div class="container">
  
  <div class="form-holder">
    <h2 class="text-center pb-4">Admin</h2>
    <form [formGroup]="login" >
      <div class="form-group">
        <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1"  placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="remember" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div>
      <button type="submit" class="btn w-100 btn-primary">Let me in</button>
    </form>
  </div>
</div>
</div>