.form-holder{
  box-shadow: 0 0 5px 4px #ffffff;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.admin-panel{
  background-size: 100% 100%;
  background: url('https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 100vh;
}